/* Remove Browser Defaults*/
body, div, h1, h2, h3, h4, h5, h6, p, ul, ol, li, dl, dt, dd, img, form, fieldset, input, textarea, blockquote {
  margin: 0; padding: 0; border: 0;
}

html, body {
  height: 100%;
  width: 100%;
}

body {
  margin: 0;
  line-height: 1.5;
}

* {
  box-sizing: border-box;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

/* Flexbox to Fill Height */
.fill-height {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

/* Header */
.header {
  flex-shrink: 0;
  background-color: #f1f1f1;
  font-size: 2.5em;
  text-transform: uppercase;
  text-align: center;
  padding: 20px;
}

/* Top Navigation Bar */
.top-nav {
  flex-shrink: 0;
  overflow: hidden;
  background-color: #333;
  display: flex;
  justify-content: center;
}

/* Top Navigation Bar - Links */
.top-nav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Top Navigation - Hover */
.top-nav a:hover {
  background-color: #ddd;
  color: black;
}

/* Content */
.content {
  flex-grow: 1;
  flex-shrink: 0;
  background-color: #95c3b9;
  padding: 44px 50px;
}

/* Section Header */
.section-header {
  font-size: 2.5em;
  text-transform: uppercase;
  text-align: center;
}

/* Clear Floats After Row */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Thumbnail */
.thumbnail {
  border: 2px solid #95c3b9;
  max-width: 280px;
  height: 280px;
}

/* Thumbnail - Hover */
.thumbnail:hover {
  border: 2px solid #333;
}

/* Thumbnail - Image */
.thumbnail img {
  flex: 1;
  max-width: 100%;
  height: auto;
  display: block;
}

/* Thumnail - Video */
.thumbnail iframe {
  flex: 1;
  max-width: 100%;
  height: auto;
  display: block;
}

/* Thumbnail - Links */
.thumbnail a {
  text-decoration: none;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

/* Caption */
.caption {
  flex: 1;
  padding: 15px;
  background-color: #f1f1f1;
  text-align: center;
}

/* Responsive Wrapper for Thumbnails */
.responsive {
  padding: 6px;
  float: left;
  max-width: 25%;
}

/* Responsive Layout Options */
@media only screen and (max-width: 900px) {
  .responsive {
    max-width: 33.3333%
  }
}
@media only screen and (max-width: 700px) {
  .responsive {
    max-width: 50%
  }
}
@media only screen and (max-width: 500px) {
  .responsive {
    max-width: 100%
  }
}

/* Footer */
.footer {
  flex-shrink: 0;
  padding: 10px;
  color: #f2f2f2;
  background-color: #333;
  text-align: center;
}

/* Footer - Links */
.footer a {
  display: block;
  padding: 4px 6px;
  color: inherit;
  text-align: center;
  text-decoration: none;
}

/* Footer - Hover */
.footer:hover {
  background-color: #ddd;
  color: black;
}
