/* Remove Browser Defaults*/
body, div, h1, h2, h3, h4, h5, h6, p, ul, ol, li, dl, dt, dd, img, form, fieldset, input, textarea, blockquote {
	margin: 0; padding: 0; border: 0;
}

html, body {
  height: 100%;
  width: 100%;
}

body {
  margin: 0;
  line-height: 1.5;
}

* {
  box-sizing: border-box;
}

/* Flexbox to Fill Page Height */
.fill-height {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

/* Header */
.header {
  flex-shrink: 0;
  background-color: #f1f1f1;
  text-align: center;
  padding: 20px;
}

/* Top Navigation Bar */
.top-nav {
  flex-shrink: 0;
  overflow: hidden;
  background-color: #333;
}

/* Top Navigation Bar - Links */
.top-nav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Top Navigation - Hover */
.top-nav a:hover {
  background-color: #ddd;
  color: black;
}

/* Content */
.content {
  flex-grow: 1;
  flex-shrink: 0;
  background-color: #95c3b9;
  padding: 15px;
}

/* Two Column Layout */
.column {
  flex: 1;
  float: left;
  width: 50%;
  padding: 15px;
}

/* Clear Floats After Columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive Layout - Stack Columns */
@media screen and (max-width:600px) {
  .column {
    width: 100%;
  }
}

/* Footer */
.footer {
  flex-shrink: 0;
  padding: 10px;
  color: #f2f2f2;
  background-color: #333;
  text-align: center;
}

/* Footer - Links */
.footer a {
  display: block;
  padding: 4px 6px;
  color: inherit;
  text-align: center;
  text-decoration: none;
}

/* Footer - Hover */
.footer:hover {
  background-color: #ddd;
  color: black;
}
